---
import Layout from "../layouts/Layout.astro";
import { InputBox } from "../components/UrlShortener";
<<<<<<< HEAD
import Footer from "../components/Footer.astro";
=======
>>>>>>> origin/main
---

<Layout title="url-shortener">
  <main>
<<<<<<< HEAD
    <div class="grid place-items-center h-screen content-center">
      <InputBox client:load />
    </div>
    <Footer
      gitHub="https://github.com/luvgo"
      linkedIn="https://github.com/luvgo"
      client:visible
    />
=======
    <InputBox client:load />
>>>>>>> origin/main
  </main>
</Layout>
