---
import Layout from "../layouts/Layout.astro";
import { InputBox } from "../components/UrlShortener";
import Footer from "../components/Footer.astro";
import Heading from "../components/Heading.astro";
---

<Layout title="url-shortener">
  <main class="">
    <Heading />
    <div class="flex justify-center">
      <InputBox client:load />
    </div>
    <Footer
      github="https://github.com/luvgo"
      linkedIn="https://gotiny.cc/c45eyt"
    />
  </main>
</Layout>
