---
export interface Props {
  github: string;
  linkedIn: string;
}

const { github, linkedIn } = Astro.props;
---

<footer class="sticky bottom-0">
  <div class="flex bg-purple-600 p-5">
    <p>Personal Information:</p>
    <div class="px-1"></div>
    <a class="underline hover:text-blue-600" href={github}>github</a>
    <div class="px-1"></div>
    <a class="underline hover:text-blue-500" href={linkedIn}>linkedIn</a>
  </div>
</footer>
