---
export interface Props {
  github: string;
  linkedIn: string;
}

const { github, linkedIn } = Astro.props;
---

<footer
  class="absolute w-full bottom-0 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500"
>
  <div class="flex p-5">
    <p>Personal Information:</p>
    <div class="px-1"></div>
    <a class="underline hover:text-blue-600" href={github}>github</a>
    <div class="px-1"></div>
    <a class="underline hover:text-blue-500" href={linkedIn}>linkedIn</a>
  </div>
</footer>
