---
interface props {}
---

<header>
  <h1 class="p-4 text-4xl font-bold text-center">URL Shortener</h1>
  <p class="p-8 text-lg text-center">
    Welcome to our URL shortener! Our tool allows you to easily shorten long and
    cumbersome URLs into more manageable links. Simply paste your long URL into
    the input box, and our tool will generate a shortened version for you in
    seconds. You can then copy and share the new link wherever you like.
  </p>
</header>
